body {
  background-image: url('https://i.ytimg.com/vi/N7tHWUhMPFU/maxresdefault.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.circulo {
  width: 300px;
  height: 300px;
  background-color: #133273;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.texto {
  color: white;
  font-size: 45px;
  font-weight: bold;
  font-family: 'Wide Latin', Arial, sans-serif;
  text-align: center;
}

.texto .larger {
  font-size: 65px; /* Tamaño más grande para las letras D y W */
}

.linea {
  border: 2px solid white;
  width: 100%;
  margin-top: 10px;
}

.luna {
  box-shadow: 15px 10px 20px rgba(255, 255, 255, 0.8);
  width: 210px;
  height: 210px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%) rotate(-15deg);
  background-color: white;
}

